.basic-grid {
  display: grid;
  gap: 1rem;
/* horizontal and vertical spacing  */
  /* 1 too skinny, too much code */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

  /* if 1 col then 1fr = 100% 
  2 col then 1 fr = 50%
  and 12 cols then 1fr = 8.3% */


  /* 2 cleaner code */
  /* grid-template-columns: repeat(12, 1fr); */

  /* 3  better sizing, but overflows */
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */
  /* minmax(minimum-width, max-width) */
  /* the horizontal scrollbar becomes active in this regard */

  /* 4 final */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
/* also auto-fill option is there it will fillup the extra space with blank space 
whereas the autofit will fir the items in the extra space when resizing takes place  */
  /* responsive grid  */
}